@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&family=Dancing+Script&family=PT+Mono&family=PT+Sans+Narrow&family=Quicksand:wght@500&family=Space+Grotesk:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}



#scoreBox{
    position: absolute;
    top: 67px;
    right: 168px;
    font-size: 39px;
    font-weight: bold;
font-family: 'Quicksand', sans-serif;
  color: white;
}


#hiscoreBox{
    position: absolute;
    top: 102px;
    right: 130px;
    font-size: 39px;
    font-weight: bold;
   font-family: 'Quicksand', sans-serif;
  color:white;
}

#board{
    /* background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167)); */
      background: linear-gradient(135deg,#ceee3d,#e1f570);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(137, 245, 109), rgb(114, 182, 4));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: rgb(47, 128, 0);
    border: .25vmin solid white; 
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgb(252, 123, 100), rgb(238, 248, 91));
    border: .25vmin solid black;
    border-radius: 50px;
}